@import 'Root.scss';

// DASBORD

.bd-grid {
    display: flex;
    flex-direction: row;
}

.sidebar {
    background-color: #fff;
    width: 225px;
    height: 100vh;

    
    @media screen and(max-width:768px){
      width: 70px;
      min-width: 70px;
    }
}

.d-none {
  display: none;
}

.bd-dasboard {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-color: $grey;
    transition: margin .5s ease;
}

.sidebarToggled {
    margin-left: -70px;
    transition: margin ease .5s;

    @media screen and(min-width:768px){
        margin-left: -225px;
    }
}

.cursor-pointer {
  cursor: pointer;
}



.topNav {
    height: 4rem;
    background-color: $dark-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #fff;
    font-size: $normal-font;

    &__toggler {
        font-size: 1.5rem;
        cursor: pointer;
    }

    &__list {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    &__link {
        color: #fff;
        
        &:hover {
            color: $light-blue;
        }
    }
}

// SIDE NAVBAR

.sideNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $dark-blue;

    &__brand {
        height: 4rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &--icon {
            width: 1.5rem;
        }

        &--text {
            @media screen and(max-width:768px){
                display:none;
            }
        }
    }

    &__menu {
        width: 100%;
        height: 4rem;
    }
    &__link {
        width: 100%;
        height: 100%;
        display: flex;
        border-top: 1px solid rgb(231, 231, 231);
        border-bottom: 1px solid rgb(231, 231, 231);
        padding-left: 1rem;
        flex-direction: row;
        cursor: pointer;

        @media screen and(max-width:768px){
            justify-content: center;
            padding-left: 0;
            align-items: center;
        }

        &:hover {
            background-color: $grey;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: $normal-font;
        color: $dark-blue;
        font-size: $normal-font;
        & i {
            font-size: 1.5rem;
        }

        & span {
            @media screen and(max-width:768px){
                font-size: 9px;
            }
        }

        @media screen and(max-width:768px){
            flex-direction: column;
        }
    }
}

.sidebarActive {
    background-color: $grey !important;
}

// CONTENT BODY

.content {
    width: 100%;
    padding: .5rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    font-size: .75rem;
    height: auto;
    max-width: 100vw;

    @media screen and(min-width:1280px){
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
    }

    @media screen and(min-width:768px) {
        font-size: $normal-font;
    }
}

.card {
    background-color: #fff;
    border-radius: 5px;
    padding:.5rem;
    width: 100%;
    font-size: $normal-font;
    
    @media screen and(max-width:1280px){
        font-size: .8rem;
    }
}

.bcard {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  height: 100%;
  min-height: 50px;

  &-icon {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    font-size: 1.25rem;
    border-radius: 5px 0 0 5px;
    min-height: 100%;
    > * {
      margin-left: -5px;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: -5px;
    padding-right: 5px;
    padding-left: 10px;
    height: 100%;
    width: 100%;
    justify-content: center;
    border-radius: 0 5px 5px 0;
  }
}

.row {
    display: flex;
    flex-wrap: wrap;

    > * {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
    }
}

.col {
    flex: 1 0 0%;
    
    &-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
      }
      
      &-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
      }
      
      &-3 {
        flex: 0 0 auto;
        width: 25%;
      }
      
      &-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
      }
      
      &-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
      }
      
      &-6 {
        flex: 0 0 auto;
        width: 50%;
      }
      
      &-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
      }
      
      &-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
      }
      
      &-9 {
        flex: 0 0 auto;
        width: 75%;
      }
      
      &-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
      }
      
      &-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
      }
      
      &-12 {
        flex: 0 0 auto;
        width: 100%;
      }

      @media (max-width : 576px){
        &-sm {
            flex: 0 0 auto;
        }
      }

      @media (min-width: 576px) {
        &-sm {
            flex: 1 0 0%;
          }

        &-sm-auto {
            flex: 0 0 auto;
            width: auto;
          }
        
          &-sm-1 {
            flex: 0 0 auto;
            width: 8.33333333%;
          }
        
          &-sm-2 {
            flex: 0 0 auto;
            width: 16.66666667%;
          }
        
          &-sm-3 {
            flex: 0 0 auto;
            width: 25%;
          }
        
          &-sm-4 {
            flex: 0 0 auto;
            width: 33.33333333%;
          }
        
          &-sm-5 {
            flex: 0 0 auto;
            width: 41.66666667%;
          }
        
          &-sm-6 {
            flex: 0 0 auto;
            width: 50%;
          }
        
          &-sm-7 {
            flex: 0 0 auto;
            width: 58.33333333%;
          }
        
          &-sm-8 {
            flex: 0 0 auto;
            width: 66.66666667%;
          }
        
          &-sm-9 {
            flex: 0 0 auto;
            width: 75%;
          }
        
          &-sm-10 {
            flex: 0 0 auto;
            width: 83.33333333%;
          }
        
          &-sm-11 {
            flex: 0 0 auto;
            width: 91.66666667%;
          }
        
          &-sm-12 {
            flex: 0 0 auto;
            width: 100%;
          }
      }

      @media (min-width: 768px) {
        &-md {
            flex: 1 0 0%;
          }

          &-md-1 {
            flex: 0 0 auto;
            width: 8.33333333%;
          }
        
          &-md-2 {
            flex: 0 0 auto;
            width: 16.66666667%;
          }
        
          &-md-3 {
            flex: 0 0 auto;
            width: 25%;
          }
        
          &-md-4 {
            flex: 0 0 auto;
            width: 33.33333333%;
          }
        
          &-md-5 {
            flex: 0 0 auto;
            width: 41.66666667%;
          }
        
          &-md-6 {
            flex: 0 0 auto;
            width: 50%;
          }
        
          &-md-7 {
            flex: 0 0 auto;
            width: 58.33333333%;
          }
        
          &-md-8 {
            flex: 0 0 auto;
            width: 66.66666667%;
          }
        
          &-md-9 {
            flex: 0 0 auto;
            width: 75%;
          }
        
          &-md-10 {
            flex: 0 0 auto;
            width: 83.33333333%;
          }
        
          &-md-11 {
            flex: 0 0 auto;
            width: 91.66666667%;
          }
        
          &-md-12 {
            flex: 0 0 auto;
            width: 100%;
          }
      }
    
      @media (min-width: 992px) {
        &-lg {
          flex: 1 0 0%;
        }
        &-lg-1 {
            flex: 0 0 auto;
            width: 8.33333333%;
          }
        
        &-lg-2 {
            flex: 0 0 auto;
            width: 16.66666667%;
          }
        
        &-lg-3 {
            flex: 0 0 auto;
            width: 25%;
          }
        
        &-lg-4 {
            flex: 0 0 auto;
            width: 33.33333333%;
          }
        
        &-lg-5 {
            flex: 0 0 auto;
            width: 41.66666667%;
          }
        
        &-lg-6 {
            flex: 0 0 auto;
            width: 50%;
          }
        
        &-lg-7 {
            flex: 0 0 auto;
            width: 58.33333333%;
          }
        
        &-lg-8 {
            flex: 0 0 auto;
            width: 66.66666667%;
          }
        
        &-lg-9 {
            flex: 0 0 auto;
            width: 75%;
          }
        
        &-lg-10 {
            flex: 0 0 auto;
            width: 83.33333333%;
          }
        
        &-lg-11 {
            flex: 0 0 auto;
            width: 91.66666667%;
          }
        
        &-lg-12 {
            flex: 0 0 auto;
            width: 100%;
          }        
      }

      @media (min-width: 1200px) {
        &-xl {
            flex: 1 0 0%;
          }
          &-xl-auto {
            flex: 0 0 auto;
            width: auto;
          }
        
          &-xl-1 {
            flex: 0 0 auto;
            width: 8.33333333%;
          }
        
          &-xl-2 {
            flex: 0 0 auto;
            width: 16.66666667%;
          }
        
          &-xl-3 {
            flex: 0 0 auto;
            width: 25%;
          }
        
          &-xl-4 {
            flex: 0 0 auto;
            width: 33.33333333%;
          }
        
          &-xl-5 {
            flex: 0 0 auto;
            width: 41.66666667%;
          }
        
          &-xl-6 {
            flex: 0 0 auto;
            width: 50%;
          }
        
          &-xl-7 {
            flex: 0 0 auto;
            width: 58.33333333%;
          }
        
          &-xl-8 {
            flex: 0 0 auto;
            width: 66.66666667%;
          }
        
          &-xl-9 {
            flex: 0 0 auto;
            width: 75%;
          }
        
          &-xl-10 {
            flex: 0 0 auto;
            width: 83.33333333%;
          }
        
          &-xl-11 {
            flex: 0 0 auto;
            width: 91.66666667%;
          }
        
          &-xl-12 {
            flex: 0 0 auto;
            width: 100%;
          }
      }
}

.mt {
    &-1 {
        margin-top: 1rem;
    }
    &-2 {
        margin-top: 2rem;
    }
    &-3 {
        margin-top: 3rem;
    }
}

.mb {
    &-1 {
        margin-bottom: 1rem;
    }
    &-2 {
        margin-bottom: 2rem;
    }
    &-3 {
        margin-bottom: 3rem;
    }
}

.ml {
    &-1 {
        margin-left: 1rem;
    }
    &-2 {
        margin-left: 2rem;
    }
    &-3 {
        margin-left: 3rem;
    }
}

.mr {
    &-1 {
        margin-right: 1rem;
    }
    &-2 {
        margin-right: 2rem;
    }
    &-3 {
        margin-right: 3rem;
    }
}

.bg {
    &-white {
      background-color: #fff;
    }
    &-dark-blue {
     background-color: $dark-blue;   
    }
    &-light-blue {
        background-color: $light-blue;
    }
    &-grey {
        background-color: $grey;
    }
    &-yellow {
        background-color: #FFE49E;
    }
    &-dark-grey {
        background-color: $dark-grey;
    }
    &-green {
        background-color: $green;
    }
    &-yellow-light {
      background-color: #FEF7E7;
  }
}

.pd {
    &-top {
      &-1 {
        padding-top: 1rem;
      }
    }
    &-1{
        padding:1rem;
    }
}

.hover {
  &-light-blue :hover {
    background-color: $light-blue-secondary;
    transition: ease-in-out .2s;
  }
}

.color {
    &-white {
        color: #fff !important;
    }
    &-dark-blue {
        color: $dark-blue !important;
    }
    &-light-blue {
        color: $light-blue !important;
    }
    &-red {
      color: #ee5e5e;
    }
    &-light-yellow {
      color: $yellow;
    }
    &-dark-yellow {
      color: #8B7847;
    }
}

.border {
    &-1 {
        border: 1px solid #cfcfcf;
    }
}

.text-middle {
  display: flex;
  align-items: center;
}

.text-center {
  justify-content: center;
}

.text-right {
  align-items: flex-end;
}

.btn {
  width: fit-content;
  padding: 10px 20px 10px 20px;
  font-family: $poppins;
  cursor: pointer;
  background-color: transparent;
  border:none;

  &-blue-light {
      background-color: $light-blue;

      &-active {
          background-color: #29a7ce;
          color: #ffffff;
      }
  }
  &-yellow {
      background-color: #FFE49E;
  }
}

.font-size {
  &-xs{
      font-size: .5rem;
  }
  &-sm {
      font-size: .75rem;
  }
}